version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mr_unknown_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    image: node:20-alpine
    container_name: mr_unknown_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install -g serve && serve -s . -l 3000"
